<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>
<h1>Your Profile</h1>
<h3 th:text="${potato.username}"></h3>
<h3 th:text="${potato.firstname}"></h3>
<h3 th:text="${potato.lastname}"></h3>
<h3 th:text="${potato.dateOfBirth}"></h3>
<h3 th:text="${potato.bio}"></h3>

<a href="home">CodeFellowship Homepage</a>
<a href="logout">Logout</a>

<span th:if="${principal}">
        <h3>Posts!</h3>
        <a href="postForm">Create Post</a>
        <span th:if="${hasNoPosts}">
            <span>You have No Post! Create One!</span>
        </span>
        <span th:if="${!hasNoPosts}">
            <span>You have a post!</span>
        </span>
</span>


</body>
</html>