<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>

<h1>User Profile</h1>
<h3 th:text="${potato.username}"></h3>
<h3 th:text="${potato.firstname}"></h3>
<h3 th:text="${potato.lastname}"></h3>
<h3 th:text="${potato.dateOfBirth}"></h3>
<h3 th:text="${potato.bio}"></h3>


</body>
</html>

public String getUserProfile(@PathVariable long id, Model m) {
ApplicationUser user = applicationUserRepository.findById(id).get();
m.addAttribute("potato", user);
return "userprofile";